.container{
   display: flex;
   justify-content: center;
   margin-top:50px;
   background-color: antiquewhite;
}



/*Кросс-бар*/
.bar{
    width: 400px;
    height: 70px;
    border: 4px solid chocolate;
}
.square_bar{
    background-color: chocolate;
    height: 70px;
    width: 70px;
    animation: myAnim 2s linear alternate infinite ;
}
.square_bar:hover{
    animation-play-state: paused;
}

@keyframes myAnim {  
    0% { margin-left: 0;}
    100% { margin-left: 83%;}
}



/*Сердце*/
.heart{
    filter: grayscale(1);
}
.heart:hover{
    transition-duration: 2s;
    scale: 1.7;
    filter: grayscale(0);
}



/*Летающие предметы*/

h2{
    text-align: center;
    margin-bottom: 100px;
}



.container2 {
    height: 600px;
    border: 1px solid red;
}

.calc{
    position: absolute;
    margin-top: 500px;
    margin-left: 30%;
    animation: calc 2s linear forwards ;
}

.book{
    position: absolute;
    margin-top: 500px;
    margin-left: 40%;
    animation: book 2s linear 2s forwards;
    

}

.paper{
    position: absolute;
    margin-top: 500px;
    margin-left: 50%;
    animation: paper 2s linear 3s forwards;
}

.pallete{
    position: absolute;
    margin-top: 500px;
    margin-left: 60%;
    animation: pallete 2s linear 4s forwards;
}

.pencil{
    position: absolute;
    margin-top: 500px;
    margin-left: 45%;
    transform: rotate(90deg);
    animation: pencil 2s linear 5s forwards;
}

@keyframes calc {
    0%{ margin-top:500px;}
    
    100%{
        margin-top: 70px;
        transform: rotate(340deg);
    }
    
}

@keyframes book {
    0%{ margin-top:500px;}
    
    100%{
        margin-top: 0px;
        transform: rotate(350deg);
    }

}

@keyframes paper {
    0%{ margin-top:500px;}
    
    100%{
        margin-top: 0px;
        transform: rotate(380deg);
    }
}

@keyframes pallete {
    0%{ margin-top:500px;}
    
    100%{
        margin-top: 70px;
        transform: rotate(390deg);
    }
}

@keyframes pencil {
    0%{ margin-top:500px;}
    
    100%{
        margin-top: 150px;
        transform: rotate(450deg);
    }
}